body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo-just {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

header .logo-dessert {
    color: #f08a1b;
    font-size: 24px;
    font-weight: bold;
    margin-left: 5px;
}

header .buttons {
    display: flex;
    gap: 10px;
}

header .join {
    background-color: #007bff;
    color: #fff;
    border: 2px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

header .login {
    background-color: #f08a1b;
    color: #fff;
    border: 2px solid #000;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.search-section {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #FFD4B2;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #000000;
    overflow: hidden;
}

.search-bar input {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border-radius: 20px 0 0 20px;
    flex-grow: 1;
}

.search-bar button {
    background-color: #004085;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
    font-size: 16px;
}

.icon-links {
    display: flex;
    gap: 20px;
}

.icon-link {
    text-align: center;
}

.round-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #fff;
}

main {
    display: flex;
    padding: 20px;
}

.recipe-of-the-day {
    flex: 3;
}

.recipe-of-the-day h2 {
    margin-top: 0;
    color: #007bff;
    text-align: center;
}

.recipe-of-the-day img {
    max-width: 100%;
    height: auto;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe-title {
    font-weight: bold;
    margin: 0;
}

.recipe-author-likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipe-author-likes p {
    margin: 0;
    display: flex;
    align-items: center;
}
.recipe-author-likes .text{
    background: none;
    color: #007bff;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    align-self: center;
}
.recipe-author-likes .likes {
    margin-left: auto;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.full-recipe {
    background: none;
    color: #007bff;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    align-self: center;
}

.recommended {
    flex: 1;
    margin-left: 20px;
}

.recommended h2 {
    margin-top: 0;
}

.recommendation {
    margin-bottom: 20px;
    position: relative;
}

.recommendation img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.recommendation-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recommendation .likes {
    margin-left: auto;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.recommendation p {
    margin: 0;
    display: flex;
    align-items: center;
}
.recommendation .authors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recommendation .title{
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
}
.recommendation .text {
    background: none;
    color: #007bff;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    align-self: center;
}
